<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 vinodkumar
  <test thread-count="5" name="Test">
    <classes>
      <class name="Cyclos_TestCases.Cyclos_test"/>
    </classes>

 Naveen
  <test thread-count="5" name="Test">
    <classes>
      <class name="Cyclos_TestCases.Testcaselogin"/>
    </classes>

 varalasrijitha
		<parameter name="browser" value="chrome"></parameter>
<parameter name="url" value="https://demo.cyclos.org/ui/login"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Cyclos_TestCases.Cyclos_LoginTest"/>

  <test thread-count="5" name="Test">
PrabhavathiMallepally
	  <classes>
		  <class name="Cyclos_TestCases.LoginTest"></class>
	  </classes>

    <classes>
      <class name="Cyclos_TestCases.Cyclos_TestCase"/>
 master
    </classes>
master
 master
 master
  </test> <!-- Test -->
</suite> <!-- Suite -->
